@tailwind base;
@tailwind components;
@tailwind utilities;
.animated-background {
    background-size: 400%;
    -webkit-animation: animation 4s ease infinite;
    -moz-animation: animation 4s ease infinite;
    animation: animation 4s ease infinite;
}
@keyframes animation {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
section {
    padding-top: 60px;
}
::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
html {
    scroll-behavior: smooth;
}

@layer base {
    .nav-item {
        @apply md:px-4 px-3 py-1.5 rounded-full text-white/70 md:text-sm text-xs font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }

    .hero-ring {
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-blue-300/5 shadow-[0_0_80px_inset] shadow-blue-300/5;
    }
}